<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AccountDAO">
    <select id="findAll" resultType="com.web.template.user.domain.dto.AccountDto">
        select * from account
    </select>

    <select id="findById" resultType="com.web.template.user.domain.dto.AccountDto">
        select * from account where id = #{id}
    </select>

    <select id="findFirstOrderByIdDesc" resultType="com.web.template.user.domain.dto.AccountDto">
        select * from account order by id
    </select>


    <select id="findFirsByUsername" resultType="com.web.template.user.domain.dto.AccountDto">
        select * from account where username=#{username}
    </select>

    <select id="findNextId" resultType="Long">
        select (max(id) +1) from account
    </select>

    <update id="update" parameterType="com.web.template.user.domain.dto.AccountDto">
        update account set name = #{name} , password=#{password} , role= #{role} , username= #{username}
        where id = #{id}
    </update>

    <insert id="insert" parameterType="com.web.template.user.domain.dto.AccountDto">
        insert into account
        (id, name, password, role, username)
        values (#{id}, #{name}, #{password}, #{role}, #{username})
    </insert>

    <delete id="delete" parameterType="com.web.template.user.domain.dto.AccountDto">
        delete from account
        where id = #{id}
    </delete>

</mapper>
