<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO">

    <select id="findAll" resultType="hashmap">
        select * from board
    </select>

    <select id="findBoardAll" resultType="com.web.template.board.domain.dto.BoardDto">
        select * from board
    </select>

    <select id="findById" resultType="com.web.template.board.domain.dto.BoardDto">
        select * from board where id = #{id}
    </select>

    <select id="findFirstOrderByIdDesc" resultType="com.web.template.board.domain.dto.BoardDto">
        select * from board order by id desc limit 0, 1
    </select>

    <select id="findNextId" resultType="Long">
        select (max(id) +1) from board
    </select>

    <select id="findCountAll" resultType="Integer">
        select count(*) from board
    </select>

    <select id="findPage" parameterType="com.web.template.common.application.data.PageCommand" resultType="com.web.template.board.domain.dto.BoardDto">
        select * from board
        <if test="sort">
           order by ${properties} ${direction}
        </if>
    </select>


    <update id="update" parameterType="com.web.template.board.domain.dto.BoardDto">
        update board set contents = #{contents} , title =#{title} , user_id = #{user_id} , updated_at = now()
        where id = #{id}
    </update>

    <insert id="insert" parameterType="com.web.template.board.domain.dto.BoardDto">
        insert into board
        (id, contents, title, user_id, created_at, updated_at)
        values (#{id}, #{contents}, #{title}, #{user_id}, now(), now())
    </insert>

    <delete id="delete" parameterType="com.web.template.board.domain.dto.BoardDto">
        delete from board
        where id = #{id}
    </delete>

</mapper>
