<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/board-mapper.xml"/>
        <mapper resource="mapper/account-mapper.xml"/>
        <mapper resource="mapper/department-mapper.xml"/>
        <mapper resource="mapper/deptmember-mapper.xml"/>
        <mapper resource="mapper/attachments-mapper.xml"/>
        <mapper resource="mapper/attachments-board-map-mapper.xml"/>
    </mappers>
</configuration>

